

<div class="row animated fadeIn" *ngIf="!loadingArtist">
  <div class="col-2">
    <img [src]="artista.images | noimage" class="img-thumbnail img-circle" />
  </div>

  <div class="col">
    <h3>{{ artista.name }}</h3>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">
        <button class="btn btn-outline-primary">
          Ir a la página del artista
        </button>
      </a>
    </p>
  </div>

  <div class="col-4 text-right">
  </div>
</div>

<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Album</th>
          <th>Canción</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let track of topTracks">
          <td>
            <img [src]="track.album.images | noimage" class="img-thumb" />
          </td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
